@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #c5fcee;
}

.sideMenuBarHeader {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  font-size: 14;
  color: #c5fcee;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
